In [15]:
import pandas as pd

In [16]:
# Read in the raw Kaggle Income Dataset
kaggle_income_df = pd.read_csv('county_income.csv',encoding='iso8859_8')

In [17]:
# Drop records where the household count is equal to 0
df = kaggle_income_df[kaggle_income_df.sum_w != 0]
df.count()

id            32211
State_Code    32211
State_Name    32211
State_ab      32211
County        32211
City          32211
Place         32211
Type          32211
Primary       32211
Zip_Code      32211
Area_Code     32211
ALand         32211
AWater        32211
Lat           32211
Lon           32211
Mean          32211
Median        32211
Stdev         32211
sum_w         32211
dtype: int64

In [18]:
# Read in normalization data set
norm_df = pd.read_csv('normalization.csv')
norm_df

      State                  County           Normalization
0   Georgia                Muscogee          Muscogee County
1      Iowa          O'Brien County            OBrien County
2  Maryland  Prince George's County    Prince Georges County
3  Virginia          Bedford County  Bedford City and County
4  Virginia          Halifax County           Halifax County
5  Virginia                Manassas            Manassas City
6  Virginia                Richmond            Richmond City
7  Virginia              Waynesboro          Waynesboro City
8  Virginia              Winchester          Winchester City

In [19]:
# Join in the normalization table
combined_df = pd.merge(df,norm_df,how='left',left_on=['State_Name', 'County'], right_on=['State', 'County'])

In [20]:
# Find row count of dataframe
length = combined_df['id'].count()
# Find column count of dataframe
width = len(combined_df.columns)

In [21]:
# Loop through the rows and if the Normalization column is NOT NaN then replace city with that
for row in range(0,length-1):
    if pd.isnull(combined_df.iloc[row, width-1]):
        combined_df.iloc[row, 4] = combined_df.iloc[row, 4]
    else:
        combined_df.iloc[row, 4] = combined_df.iloc[row, width-1]

pd.csv_write()

In [22]:
# Write final csv file
combined_df.to_csv('final_income_data.csv')

## Using the following cells to store SQL queries

SELECT kaggle_income_data.state_name, kaggle_income_data.county, southeast_counties.casecount, southeast_counties.population, southeast_counties.sex, sum(kaggle_income_data.sum_w) as household_count ,sum(kaggle_income_data.mean * kaggle_income_data.sum_w) as extended_income
FROM kaggle_income_data
INNER JOIN southeast_counties ON (kaggle_income_data.state_name = southeast_counties.area and kaggle_income_data.county = southeast_counties.county)
GROUP BY kaggle_income_data.state_name, kaggle_income_data.county, southeast_counties.casecount, southeast_counties.population, southeast_counties.sex;